<div class="password-container">
  <input
    class="password-input"
    placeholder="input password"
    [formControl]="password"
    [type]="isShowPass ? 'text' : 'password'"
  />
  <div class="pass-checkbox">
    <input type="checkbox" [checked]="isShowPass" (change)="isShowPass = !isShowPass"/>
    <span class="pass-checkbox-text">show</span>
  </div>

  <div class="password-strength">
    <div [className]="'segment ' + passStrength[0]"></div>
    <div [className]="'segment ' + passStrength[1]"></div>
    <div [className]="'segment segment-last ' + passStrength[2]"></div>
  </div>
</div>
